services:
  server:
    build: 
      context: ./WebBackend/Server
      dockerfile: Dockerfile
    container_name: sot_server
    ports:
      - "5200:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Server=38.55.125.89;Port=3306;Database=storyoftime_community;Uid=sotwow;Pwd=sot123852;SslMode=None;
      - OwnerSettings__InitialOwnerUsername=sotmay
      # If you use MySQL in the future, add connection strings here
      # - ConnectionStrings__AuthConnection=...
    volumes:
      # - ./data:/app/data # SQLite data no longer needed
      - ./uploads:/app/wwwroot/uploads
    restart: always

  client:
    build: 
      context: ./WebBackend/Client
      dockerfile: Dockerfile
    container_name: sot_client
    # ports:
    #   - "3000:3000"
    environment:
      - API_URL=http://sot_server:8080
    depends_on:
      - server
    restart: always

  nginx:
    image: nginx:alpine
    container_name: sot_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./patch:/usr/share/nginx/html/patch
    depends_on:
      - client
      - server
    restart: always
